<li>
	{{burger_name}}

	<button id="change-burger" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}Hungry?{{else}}Eat it again!{{/if}}
	</button>

	<button id="delete-burger" data-id="{{id}}">DELETE</button>

</li>
